<div class="page-layout carded fullwidth tabbed">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="m-0">Full width with tabs and content scroll</h2>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <mat-tab-group>

                    <mat-tab label="Tab 1">
                        <div class="tab-content p-24">
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <termin-demo-content></termin-demo-content>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="Tab 2">
                        <div class="tab-content p-24">
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <termin-demo-content></termin-demo-content>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="Tab 3">
                        <div class="tab-content p-24">
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <termin-demo-content></termin-demo-content>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="Tab 4">
                        <div class="tab-content p-24">
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <termin-demo-content></termin-demo-content>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="Tab 5">
                        <div class="tab-content p-24">
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <termin-demo-content></termin-demo-content>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="Tab 6">
                        <div class="tab-content p-24">
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <termin-demo-content></termin-demo-content>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="Tab 7">
                        <div class="tab-content p-24">
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <termin-demo-content></termin-demo-content>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="Tab 8">
                        <div class="tab-content p-24">
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <termin-demo-content></termin-demo-content>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="Tab 9">
                        <div class="tab-content p-24">
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <termin-demo-content></termin-demo-content>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="Tab 10">
                        <div class="tab-content p-24">
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <termin-demo-content></termin-demo-content>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                </mat-tab-group>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
