@mixin termin-shortcuts-theme($theme) {

    $background: map-get($theme, background);

    #termin-shortcuts {

        &.show-mobile-panel {
            background-color: map-get($background, background);
        }
    }
}