<div class="navbar-top" [ngClass]="terminConfig.layout.navbar.secondaryBackground">

    <div class="logo">
        <img class="logo-icon" src="assets/images/logos/termin.svg">
        <span class="logo-text secondary-text">TERMIN</span>
    </div>

    <div class="buttons">

        <button mat-icon-button class="toggle-sidebar-folded"
                (click)="toggleSidebarFolded()" fxHide.lt-lg>
            <mat-icon class="secondary-text">menu</mat-icon>
        </button>

        <button mat-icon-button class="toggle-sidebar-opened"
                (click)="toggleSidebarOpened()" fxHide.gt-md>
            <mat-icon class="secondary-text">arrow_back</mat-icon>
        </button>

    </div>

</div>


<div class="navbar-scroll-container" [ngClass]="terminConfig.layout.navbar.primaryBackground"
     terminPerfectScrollbar [terminPerfectScrollbarOptions]="{suppressScrollX: true}">

    <div class="user" fxLayout="column" [ngClass]="terminConfig.layout.navbar.secondaryBackground">

        <div class="h3 username">John Doe</div>
        <div class="h5 email hint-text mt-8">john.doe@gmail.com</div>
        <div class="avatar-container" [ngClass]="terminConfig.layout.navbar.primaryBackground">
            <img class="avatar" src="assets/images/avatars/generic.jpg">
        </div>

    </div>

    <div class="navbar-content">
        <termin-navigation class="material2" layout="vertical"></termin-navigation>
    </div>

</div>
