@mixin termin-search-bar-theme($theme) {

    $background: map-get($theme, background);

    .termin-search-bar {

        &.expanded {
            background-color: map-get($background, background);
        }
    }
}