<div class="navbar-header" [ngClass]="terminConfig.layout.navbar.secondaryBackground">

    <div class="logo">
        <img class="logo-icon" src="assets/images/logos/termin.svg">
        <span class="logo-text">TERMIN</span>
    </div>

    <button mat-icon-button class="toggle-sidebar-folded"
            (click)="toggleSidebarFolded()" fxHide.lt-lg>
        <mat-icon>menu</mat-icon>
    </button>

    <button mat-icon-button class="toggle-sidebar-opened"
            (click)="toggleSidebarOpened()" fxHide.gt-md>
        <mat-icon>arrow_back</mat-icon>
    </button>

</div>

<div class="navbar-content" terminPerfectScrollbar [terminPerfectScrollbarOptions]="{suppressScrollX: true}"
     [ngClass]="terminConfig.layout.navbar.primaryBackground">
    <termin-navigation layout="vertical"></termin-navigation>
</div>