@mixin termin-countdown-theme($theme) {

    $foreground: map-get($theme, foreground);

    termin-countdown {

        .termin-countdown {

            .time {

                .title {
                    color: map-get($foreground, secondary-text);
                }
            }
        }
    }
}