<!-- PROGRESS BAR -->
<termin-progress-bar></termin-progress-bar>
<!-- / PROGRESS BAR -->


<!-- VERTICAL LAYOUT 3 -->
<ng-container *ngIf="terminConfig.layout.style === 'vertical-layout-3'">
    <vertical-layout-3></vertical-layout-3>
</ng-container>
<!-- / VERTICAL LAYOUT 3 -->
