<div class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header accent p-24">
        <h2>Tabbed</h2>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group dynamicHeight="true">

            <mat-tab label="Tab 1">
                <div class="p-24">
                    <termin-demo-content></termin-demo-content>
                </div>
            </mat-tab>

            <mat-tab label="Tab 2">
                <div class="p-24">
                    <termin-demo-content></termin-demo-content>
                </div>
            </mat-tab>

            <mat-tab label="Tab 3">
                <div class="p-24">
                    <termin-demo-content></termin-demo-content>
                </div>
            </mat-tab>

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>
