<!-- SIDE PANEL -->
<ng-container *ngIf="!terminConfig.layout.sidepanel.hidden && terminConfig.layout.sidepanel.position === 'left'">


</ng-container>
<!-- / SIDE PANEL -->

<div id="main">

    <!-- TOOLBAR: Above fixed -->
    <ng-container *ngIf="terminConfig.layout.toolbar.position === 'above-fixed'">
        <ng-container *ngTemplateOutlet="toolbar"></ng-container>
    </ng-container>
    <!-- / TOOLBAR: Above fixed -->

    <div id="container-1" class="container" terminPerfectScrollbar
         [terminPerfectScrollbarOptions]="{suppressScrollX: true, updateOnRouteChange : true}">

        <!-- TOOLBAR: Above static -->
        <ng-container *ngIf="terminConfig.layout.toolbar.position === 'above-static'">
            <ng-container *ngTemplateOutlet="toolbar"></ng-container>
        </ng-container>
        <!-- / TOOLBAR: Above static -->

        <div id="container-2" class="container">

            <!-- NAVBAR: Left -->
            <ng-container *ngIf="terminConfig.layout.navbar.position === 'left'">
                <ng-container *ngTemplateOutlet="leftNavbar"></ng-container>
            </ng-container>
            <!-- / NAVBAR: Left -->

            <!-- CONTENT -->
            <content
                [ngClass]="{'ml-32':terminConfig.layout.navbar.position === 'left', 'mr-32':terminConfig.layout.navbar.position === 'right'}">
            </content>
            <!-- / CONTENT -->



        </div>


    </div>



</div>



<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- @ PARTIALS
<!-- ----------------------------------------------------------------------------------------------------- -->

<!-- TOOLBAR -->
<ng-template #toolbar>
    <toolbar *ngIf="!terminConfig.layout.toolbar.hidden"
             [ngClass]="terminConfig.layout.toolbar.customBackgroundColor === true ? terminConfig.layout.toolbar.position + ' ' + terminConfig.layout.toolbar.background : terminConfig.layout.toolbar.position">
    </toolbar>
</ng-template>
<!-- / TOOLBAR -->



<!-- LEFT NAVBAR -->
<ng-template #leftNavbar>
    <termin-sidebar name="navbar" class="navbar-termin-sidebar"
                  [folded]="terminConfig.layout.navbar.folded"
                  lockedOpen="gt-md"
                  *ngIf="!terminConfig.layout.navbar.hidden">
        <navbar [variant]="terminConfig.layout.navbar.variant" class="left-navbar"></navbar>
    </termin-sidebar>
</ng-template>
<!-- / LEFT NAVBAR -->
