@mixin termin-material-color-picker-theme($theme) {

    $background: map-get($theme, background);

    .termin-material-color-picker-menu {

        .mat-menu-content {

            .views {
                background: #303030;
            }
        }
    }
}