@mixin termin-widget-theme($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    termin-widget {

        > .termin-widget-front,
        > .termin-widget-back {
            background: map-get($background, card);
            border-color: map-get($foreground, divider);
        }
    }
}