<div class="page-layout simple right-sidebar">

    <!-- SIDEBAR -->
    <termin-sidebar class="sidebar" name="simple-right-sidebar-1" position="right" lockedOpen="gt-md">

        <!-- SIDEBAR CONTENT -->
        <div class="content p-24">
            <termin-demo-sidebar></termin-demo-sidebar>
        </div>
        <!-- / SIDEBAR CONTENT -->

    </termin-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md
                    (click)="toggleSidebar('simple-right-sidebar-1')">
                <mat-icon>menu</mat-icon>
            </button>

            <h2 class="m-0">Right sidebar with content scroll</h2>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content p-24">
            <termin-demo-content></termin-demo-content>
        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>
