@mixin termin-sidebar-theme($theme) {

    $background: map-get($theme, background);

    termin-sidebar {
        background: map-get($background, background);
    }

    .termin-sidebar-overlay {
        background-color: rgba(0, 0, 0, 0.6);

        &.termin-sidebar-overlay-invisible {
            background-color: transparent;
        }
    }
}